@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Visby CF';
    src: url('/resources/fonts/VisbyCF-Bold.eot');
    src: url('/resources/fonts/VisbyCF-Bold.eot?#iefix') format('embedded-opentype'),
         url('/resources/fonts/VisbyCF-Bold.woff2') format('woff2'),
         url('/resources/fonts/VisbyCF-Bold.woff') format('woff'),
         url('/resources/fonts/VisbyCF-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Visby CF';
    src: url('/resources/fonts/VisbyCF-Medium.eot');
    src: url('/resources/fonts/VisbyCF-Medium.eot?#iefix') format('embedded-opentype'),
         url('/resources/fonts/VisbyCF-Medium.woff2') format('woff2'),
         url('/resources/fonts/VisbyCF-Medium.woff') format('woff'),
         url('/resources/fonts/VisbyCF-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@layer base {
    html {
        font-family: 'Visby CF', system-ui, sans-serif;
    }
}
